html{
    font-family: 'Heebo', sans-serif;
}

body{
    margin: 0 auto;    
}

.header_links{
    margin-right: 109px;
    display: flex;
    justify-content: flex-end;
}

.link{
    text-decoration: none;
    padding: 26px 18px;
    display: flex;
}

.container{
    max-width: 858px;
    margin: 0 42px;
}

.hi{
    justify-content: space-around;
    display: flex;
    align-items: center;
    background-color: coral;
}

.hi_body{
    margin: 80px;
}

button{
    background-color: rgb(224, 49, 49);
}

.hi_img{
    margin: 150px;
}

.posts{
    background-color: #EDF7FA;
    justify-content: center;
    display: flex;
}

.post_links{
    color: #00A8CC;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;   
}

.posts_card{
    background-color: white;
    border-radius: 4px;
    padding: 24px;
}

h3{
font-size: 26px;
font-weight: bold;
}

h5{
    font-size: 18px;
    font-weight: normal;
}

p{
    font-size: 16px;
}
.posts_card--first-element{
margin-right: 20px;
}

.head_posts{
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.posts_contents{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 24px ;
}

.section_header{
    font-weight: 400;
    font-size: 22px;
}
.designed, .featured_works{
    padding: 2px 80px;
    background-color: rgb(140, 187, 230);  
}

.designed_img{
    padding: 0 80px 0 0;
}
.designed{
    padding: 20px 80px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.vibrand{
    padding: 2px 80px;
    background-color: rgb(194, 140, 230);  
}

.vibrand_img{
    padding: 0 80px 0 0;
}
.vibrand{
    padding: 20px 80px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.malayalam{
    padding: 2px 80px;
    background-color: rgb(229, 230, 140);  
}

.malayalam_img{
    padding: 0 80px 0 0;
}
.malayalam{
    padding: 20px 80px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.footer{
   
}
.footer_row{
    display: flex;
    flex-direction: column;
    height: 182px;
    justify-content: center;
    align-items: center;
    background-color:rgb(199, 199, 152);
}

.footer_img{

}

.footer_txt{
    font-size: 14px;
}

.blog{
    padding:20px 235px;
}

.blog_title, .blog_date, .blog_txt{
    margin: 5px 0;
}

.blog_title{
    margin-top: 30px;
}






